# Database Configuration
MONGODB_URI=mongodb+srv://bellarinseth_db_user:oEQ3O4OUEOMcY6vH@cluster0.1stof9q.mongodb.net

# Server Configuration
PORT=5010
NODE_ENV=development

# JWT Configuration
JWT_SECRET=seth-employeehr-jwt-secret-2026

# Frontend URL (for CORS, links)
FRONTEND_URL=https://hr.codewithseth.co.ke

# Legacy Email Configuration
EMAIL_HOST=mail.astermedsupplies.co.ke
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=hr@astermedsupplies.co.ke
EMAIL_PASSWORD=seth123qP1
EMAIL_FROM=hr@astermedsupplies.co.ke

# Current SMTP Configuration
SMTP_HOST=mail.astermedsupplies.co.ke
SMTP_PORT=587
SMTP_USER=hr@astermedsupplies.co.ke
SMTP_PASS=seth123qP1
SMTP_FROM=hr@astermedsupplies.co.ke
SYSTEM_FROM_NAME=Elevate HR Platform

# Dispatch SMS (Africa's Talking)
AFRICASTALKING_API_KEY=atsk_73f8eda2c34cdfbe05daa3f9884daeb12e43293997c118ae825659b4c43b72a72d04a1f0
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_BASE_URL=https://api.sandbox.africastalking.com/version1/messaging
DISPATCH_DEFAULT_COUNTRY_CODE=254
DISPATCH_OFFICE_NUMBER=0759433906

# M-Pesa Daraja
MPESA_CONSUMER_KEY=JYrvnPcX0H7dhkOb6vLxZe2jHOGThx7kzN7Kj1X6bCECqFBG
MPESA_CONSUMER_SECRET=YWPapVEqDp8bcuyi6Up5LmIATM1YkWbyHRYK7Lgw8oShhIvtTqJDsheU5hR1iYx8
MPESA_SHORTCODE=7947093
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://hrapi.codewithseth.co.ke/api/mpesa/callback
MPESA_CALLBACK_TOKEN=
MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_DEFAULT_COUNTRY_CODE=254

# App
APP_NAME=ELEVATE